global
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 2s
    timeout client 10m
    timeout server 10m
    timeout check 3s

resolvers docker
    nameserver embedded 127.0.0.11:53
    timeout resolve 1s
    timeout retry 1s
    hold valid 1s
    hold nx 1s

frontend graphdb
    bind :8080
    default_backend leader

backend leader
    option httpchk
    http-check send meth GET uri /v1/readiness ver HTTP/1.1 hdr Host graphdb
    http-check expect status 200
    default-server inter 1s fall 3 rise 1 resolvers docker init-addr libc,none
    server node1 node1:8080 check
    server node2 node2:8080 check
    server node3 node3:8080 check
